/.idea
/.nuxt
/assets
/components
/composables
/layouts
/lib
/node_modules
/pages
/plugins
/public
/server
/.eslint*
/.npmrc
/.nvmrc
/app.vue
/nuxt.config.ts
/pnpm-lock.yaml
/prettier.config.js
/tsconfig.json
/test.*
/*.tgz
