code {
  color: #777777;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 0.85rem;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
}
