code {
  color: #777777;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  padding: 0 3px;
  border-radius: 3px;
  font-size: 0.85rem;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary));
}

.v-data-table__tr {
  &:hover {
    td {
      background-color: #fafafa!important;
    }
  }
}

.notificationContainer {
  position: fixed;
  top: 15px;
  right: 15px;
  display: grid;
  grid-gap: 0.5em;
  z-index: 9999;
}

.table-striped {
  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #fafafa;
      }
    }
  }
}
